---
import DateRange from '../DateRange.astro';
import Badge from '../ui/Badge.astro';
import Paragraph from '../ui/Paragraph.astro';
import Section from '../ui/Section.astro';

interface Props {
  works?: Array<{
    name: string;
    position: string;
    url?: string;
    location?: string;
    startDate: string;
    endDate?: string;
    summary?: string;
    highlights?: string[];
    skills?: string[];
  }>;
}

const { works = [] } = Astro.props;
---

{
  works.length > 0 && (
    <Section title="Experience">
      <div class="space-y-8">
        {works.map(
          ({
            position,
            name,
            summary,
            location,
            startDate,
            endDate,
            url,
            highlights = [],
            skills = [],
          }) => (
            <article>
              <div class="mb-1 flex flex-col-reverse gap-1.5 sm:flex-row sm:items-baseline sm:justify-between sm:gap-0">
                <h3 class="text-primary font-bold text-balance">{position}</h3>
                <DateRange {startDate} {endDate} />
              </div>
              <h4 class="text-primary mb-3 text-sm font-medium text-balance">
                {url ? (
                  <a
                    href={url}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={`Visit ${name} website`}
                    class="inline-flex underline-offset-4 hover:underline active:translate-y-px"
                  >
                    {name}
                  </a>
                ) : (
                  name
                )}{' '}
                | {location ? location : 'Remote'}
              </h4>
              {summary && <Paragraph class="mb-2">{summary}</Paragraph>}
              {highlights.length > 0 && (
                <ul class="text-secondary-foreground/85 mb-4 list-inside list-disc font-mono text-sm leading-relaxed text-pretty">
                  {highlights.map(highlight => (
                    <li>{highlight}</li>
                  ))}
                </ul>
              )}
              {skills.length > 0 && (
                <div class="flex flex-wrap items-center gap-1.5">
                  {skills.map(skill => (
                    <Badge>{skill}</Badge>
                  ))}
                </div>
              )}
            </article>
          )
        )}
      </div>
    </Section>
  )
}
