---
import Organization from '../Organization.astro';
import Role from '../Role.astro';
import Badge from '../ui/Badge.astro';
import Paragraph from '../ui/Paragraph.astro';
import Section from '../ui/Section.astro';

interface Props {
  works?: Array<{
    name: string;
    position: string;
    url?: string;
    location: string;
    startDate: string;
    endDate?: string;
    summary?: string;
    highlights?: string[];
    skills?: string[];
  }>;
}

const { works = [] } = Astro.props;
---

{
  works.length > 0 && (
    <Section title="Experience">
      <div class="space-y-8">
        {works.map(
          ({
            position,
            name,
            summary,
            location,
            url,
            highlights = [],
            skills = [],
            ...dates
          }) => (
            <article>
              <Role class="mb-1" name={position} {...dates} />
              <Organization class="mb-3" {url} {name} {location} />
              {summary && <Paragraph class="mb-2">{summary}</Paragraph>}
              {highlights.length > 0 && (
                <ul class="text-secondary-foreground/85 mb-4 list-inside list-disc font-mono text-sm text-pretty">
                  {highlights.map(highlight => (
                    <li>{highlight}</li>
                  ))}
                </ul>
              )}
              {skills.length > 0 && (
                <div class="flex flex-wrap items-center gap-1.5">
                  {skills.map(skill => (
                    <Badge>{skill}</Badge>
                  ))}
                </div>
              )}
            </article>
          )
        )}
      </div>
    </Section>
  )
}
